.button {
    color: rgb(173, 255, 146);
    border-color: rgb(255, 126, 71);
    border-width: 2px;
    font-color: rgb(248, 44, 44);
    font-size: 12px;
    margin: 20px;
    padding: 10px;
    corner-radius: 0px;
}
.textbox {
    color: rgb(131, 226, 67);
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    font-color: rgb(9, 116, 236);
    font-size: 18px;
    margin: 20px;
    padding: 10px;
    corner-radius: 20px;
}
.label {
    color: rgb(226, 157, 67);
    border-color: rgb(64, 227, 41);
    border-width: 2px;
    font-color: rgb(66, 9, 236);
    font-size: 18px;
    margin: 20px;
    padding: 10px;
    corner-radius: 20px;
}

